/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-webkit-keyframes topbar {
  0% {
    height: 100vh;
  }
  100% {
    height: 25px;
  }
}
@keyframes topbar {
  0% {
    height: 100vh;
  }
  100% {
    height: 25px;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 0.65;
  }
  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 0.65;
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 0.65;
  }
  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 0.65;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
/* line 12, ../sass/screen.scss */
html {
  background-color: #fff;
  color: #00468c;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-align: center;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
/* line 20, ../sass/screen.scss */
html:before {
  color: #fff;
  content: 'Loading...';
  display: inline-block;
  font-size: 2rem;
  height: 100vh;
  left: 0;
  letter-spacing: 4px;
  line-height: 100vh;
  opacity: 1;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 100000;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -moz-transition: height 1s, line-height 1s, opacity 1s;
  -o-transition: height 1s, line-height 1s, opacity 1s;
  -webkit-transition: height 1s, line-height 1s, opacity 1s;
  transition: height 1s, line-height 1s, opacity 1s;
}

/* line 39, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 42, ../sass/screen.scss */
::-moz-selection {
  /* Code for Firefox */
  color: #00468c;
  background: #df5e9f;
}

/* line 46, ../sass/screen.scss */
::selection {
  color: #00468c;
  background: #df5e9f;
}

/* line 51, ../sass/screen.scss */
.loaded:before {
  height: 0vh;
  line-height: 0vh;
  opacity: 0;
  overflow: hidden;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
/* line 59, ../sass/screen.scss */
.loaded nav:before {
  height: 25px;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: topbar;
  animation-name: topbar;
}
/* line 63, ../sass/screen.scss */
.loaded nav:after {
  height: 25px;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: topbar;
  animation-name: topbar;
}

/* line 69, ../sass/screen.scss */
nav {
  background-color: #e8e8e8;
  padding-top: 25px;
  position: relative;
  text-transform: uppercase;
  z-index: 1001;
}
/* line 77, ../sass/screen.scss */
nav.closed ul li {
  height: 0px;
  padding: 0px;
}
/* line 83, ../sass/screen.scss */
nav:before {
  background-color: #00468c;
  content: '';
  display: block;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
  z-index: 10000;
}
/* line 94, ../sass/screen.scss */
nav:after {
  background-color: #df5e9f;
  content: '';
  display: block;
  height: 100vh;
  right: 0;
  position: absolute;
  top: 0;
  width: 50%;
  z-index: 10000;
}
/* line 106, ../sass/screen.scss */
nav ul li {
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  min-width: 20%;
  padding: 10px 15px 15px;
  -moz-transition: height 0.5s, padding 0.5s;
  -o-transition: height 0.5s, padding 0.5s;
  -webkit-transition: height 0.5s, padding 0.5s;
  transition: height 0.5s, padding 0.5s;
  vertical-align: middle;
}
@media all and (max-width: 1024px) {
  /* line 106, ../sass/screen.scss */
  nav ul li {
    font-size: 0.5rem;
    min-width: 48%;
  }
}
/* line 118, ../sass/screen.scss */
nav ul li.active {
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 121, ../sass/screen.scss */
nav ul li .circ {
  border-radius: 100%;
  display: inline-block;
  height: 75px;
  margin-right: 10px;
  vertical-align: middle;
  width: 75px;
}
@media all and (max-width: 1024px) {
  /* line 121, ../sass/screen.scss */
  nav ul li .circ {
    height: 45px;
    width: 45px;
  }
}
/* line 132, ../sass/screen.scss */
nav ul li .circ path, nav ul li .circ line {
  fill: none;
  stroke-width: 0.75px;
}
/* line 136, ../sass/screen.scss */
nav ul li .circ svg {
  height: 60px;
  margin: 7.5px 0;
  width: 70%;
}
@media all and (max-width: 1024px) {
  /* line 136, ../sass/screen.scss */
  nav ul li .circ svg {
    margin: 2.5px 0;
    height: 40px;
  }
}
/* line 147, ../sass/screen.scss */
nav ul li:hover .circ {
  -moz-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
/* line 149, ../sass/screen.scss */
nav ul li:hover .circ path, nav ul li:hover .circ line {
  stroke-width: 1.25px;
  -moz-transition: stroke 0.25s;
  -o-transition: stroke 0.25s;
  -webkit-transition: stroke 0.25s;
  transition: stroke 0.25s;
}
/* line 153, ../sass/screen.scss */
nav ul li:hover .circ circle, nav ul li:hover .circ rect {
  -moz-transition: fill 0.25s;
  -o-transition: fill 0.25s;
  -webkit-transition: fill 0.25s;
  transition: fill 0.25s;
}
/* line 156, ../sass/screen.scss */
nav ul li:hover .circ svg {
  height: 65px;
  margin: 5px 0;
  width: 75%;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
@media all and (max-width: 1024px) {
  /* line 156, ../sass/screen.scss */
  nav ul li:hover .circ svg {
    height: 30px;
  }
}
/* line 168, ../sass/screen.scss */
nav ul li.male {
  color: #00468c;
}
/* line 171, ../sass/screen.scss */
nav ul li.male:hover .circ {
  background-color: #00468c;
}
/* line 173, ../sass/screen.scss */
nav ul li.male:hover .circ path, nav ul li.male:hover .circ line {
  stroke: #84dbef;
}
/* line 176, ../sass/screen.scss */
nav ul li.male:hover .circ circle, nav ul li.male:hover .circ rect {
  fill: #84dbef;
}
/* line 181, ../sass/screen.scss */
nav ul li.male .circ {
  background-color: #84dbef;
}
/* line 183, ../sass/screen.scss */
nav ul li.male .circ path, nav ul li.male .circ line {
  stroke: #00468c;
}
/* line 186, ../sass/screen.scss */
nav ul li.male .circ circle, nav ul li.male .circ rect {
  fill: #00468c;
}
/* line 191, ../sass/screen.scss */
nav ul li.female {
  color: #df5e9f;
}
/* line 194, ../sass/screen.scss */
nav ul li.female:hover .circ {
  background-color: #df5e9f;
}
/* line 196, ../sass/screen.scss */
nav ul li.female:hover .circ path, nav ul li.female:hover .circ line {
  stroke: #f79cc1;
}
/* line 199, ../sass/screen.scss */
nav ul li.female:hover .circ circle, nav ul li.female:hover .circ rect {
  fill: #f79cc1;
}
/* line 204, ../sass/screen.scss */
nav ul li.female .circ {
  background-color: #f79cc1;
}
/* line 206, ../sass/screen.scss */
nav ul li.female .circ path, nav ul li.female .circ line {
  stroke: #df5e9f;
}
/* line 209, ../sass/screen.scss */
nav ul li.female .circ circle, nav ul li.female .circ rect {
  fill: #df5e9f;
}

/* line 217, ../sass/screen.scss */
h1 {
  background-color: rgba(250, 250, 250, 0.5);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 35px 0 5px;
  position: relative;
  text-transform: uppercase;
  z-index: 10;
}

/* line 226, ../sass/screen.scss */
h5 {
  background-color: rgba(250, 250, 250, 0.5);
  border-bottom: 3px solid rgba(250, 250, 250, 0.75);
  font-size: 0.9rem;
  font-weight: 300;
  padding-bottom: 40px;
  position: relative;
  z-index: 10;
}

/* line 235, ../sass/screen.scss */
article {
  padding-bottom: 2rem;
}
/* line 237, ../sass/screen.scss */
article .map {
  display: inline-block;
  margin-left: -102.4px;
  margin-top: -204.8px;
  position: relative;
  width: 1024px;
  z-index: 0;
  -moz-transition: width 0.5s, margin-left 0.5s, margin-top 0.5s;
  -o-transition: width 0.5s, margin-left 0.5s, margin-top 0.5s;
  -webkit-transition: width 0.5s, margin-left 0.5s, margin-top 0.5s;
  transition: width 0.5s, margin-left 0.5s, margin-top 0.5s;
}
@media all and (min-width: 1024px) {
  /* line 245, ../sass/screen.scss */
  article .map.small {
    margin-left: -51.2px;
    margin-top: -102.4px;
    width: 512px;
    -moz-transition: width 0.5s, margin-left 0.5s, margin-top 0.5s;
    -o-transition: width 0.5s, margin-left 0.5s, margin-top 0.5s;
    -webkit-transition: width 0.5s, margin-left 0.5s, margin-top 0.5s;
    transition: width 0.5s, margin-left 0.5s, margin-top 0.5s;
  }
}
@media all and (max-width: 1024px) {
  /* line 237, ../sass/screen.scss */
  article .map {
    margin-top: -20%;
    margin-left: -10%;
    width: 100%;
  }
}

/* line 263, ../sass/screen.scss */
aside {
  background-color: #D7D7D7;
  display: block;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1000;
}
/* line 271, ../sass/screen.scss */
aside span {
  display: inline-block;
  font-size: 0.85rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  vertical-align: middle;
}
/* line 278, ../sass/screen.scss */
aside > div {
  display: inline-block;
  padding: 0 15px;
}
/* line 282, ../sass/screen.scss */
aside .toggle {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  padding: 2px;
  width: 60px;
  height: 30px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
}
/* line 304, ../sass/screen.scss */
aside .toggle:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
/* line 320, ../sass/screen.scss */
aside .toggle:after, aside .toggle:before {
  display: block;
  position: absolute;
  content: "";
}
/* line 325, ../sass/screen.scss */
aside .toggle:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 23px;
  background-color: #dddddd;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}
/* line 341, ../sass/screen.scss */
aside .toggle.male {
  background-color: #84dbef;
}
/* line 343, ../sass/screen.scss */
aside .toggle.male:after {
  background-color: #00468c;
}
/* line 347, ../sass/screen.scss */
aside .toggle.female {
  background-color: #f79cc1;
}
/* line 349, ../sass/screen.scss */
aside .toggle.female:after {
  background-color: #df5e9f;
  margin-left: 30px;
}

/* line 356, ../sass/screen.scss */
.land {
  fill: #dbdfe1;
}

/* line 359, ../sass/screen.scss */
.border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/* line 366, ../sass/screen.scss */
.bubble circle {
  cursor: pointer;
  fill: #00468c;
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: .5px;
}
/* line 372, ../sass/screen.scss */
.bubble circle.hover {
  fill-opacity: 0.85;
  stroke-width: 5px;
  -moz-transition: fill-opacity 0.25s, stroke-width 0.25s;
  -o-transition: fill-opacity 0.25s, stroke-width 0.25s;
  -webkit-transition: fill-opacity 0.25s, stroke-width 0.25s;
  transition: fill-opacity 0.25s, stroke-width 0.25s;
}
/* line 377, ../sass/screen.scss */
.bubble circle:hover {
  fill-opacity: 0.85;
  stroke-width: 2px;
  -moz-transition: fill-opacity 0.25s, stroke-width 0.25s;
  -o-transition: fill-opacity 0.25s, stroke-width 0.25s;
  -webkit-transition: fill-opacity 0.25s, stroke-width 0.25s;
  transition: fill-opacity 0.25s, stroke-width 0.25s;
}
/* line 382, ../sass/screen.scss */
.bubble circle.female {
  fill: #df5e9f;
  -moz-transition: fill 0.25s;
  -o-transition: fill 0.25s;
  -webkit-transition: fill 0.25s;
  transition: fill 0.25s;
}
/* line 385, ../sass/screen.scss */
.bubble circle.female.nact {
  fill: #f79cc1;
  stroke: #df5e9f;
  stroke-width: 2px;
}
/* line 391, ../sass/screen.scss */
.bubble circle.male {
  fill: #00468c;
  -moz-transition: fill 0.25s;
  -o-transition: fill 0.25s;
  -webkit-transition: fill 0.25s;
  transition: fill 0.25s;
}
/* line 394, ../sass/screen.scss */
.bubble circle.male.nact {
  fill: #84dbef;
  stroke: #00468c;
  stroke-width: 2px;
}
/* line 400, ../sass/screen.scss */
.bubble circle.top50 {
  stroke: #ff1;
  stroke-width: 1px;
}

/* line 407, ../sass/screen.scss */
.legend circle {
  fill: rgba(255, 255, 255, 0.2);
  stroke: #ccc;
}
/* line 411, ../sass/screen.scss */
.legend text {
  fill: #444;
  font: 12px sans-serif;
  text-anchor: middle;
}

/* line 417, ../sass/screen.scss */
.d3-tip {
  background: rgba(232, 232, 232, 0.9);
  border: 2px solid #f79cc1;
  border-radius: 2px;
  font-weight: 700;
  line-height: 1;
  margin-top: -12.5px;
  max-width: 250px;
  padding: 12px;
  text-align: left;
  z-index: 100000;
}
/* line 428, ../sass/screen.scss */
.d3-tip h4 {
  font-weight: 700;
  padding-bottom: 7.5px;
  text-align: center;
  text-transform: uppercase;
}
/* line 434, ../sass/screen.scss */
.d3-tip li {
  display: block;
  font-size: 0.75rem;
  padding: 3.5px 0;
}
/* line 438, ../sass/screen.scss */
.d3-tip li.sm, .d3-tip li.cm {
  color: #00468c;
}
/* line 441, ../sass/screen.scss */
.d3-tip li.sf, .d3-tip li.cf {
  color: #df5e9f;
}
/* line 444, ../sass/screen.scss */
.d3-tip li span {
  display: inline-block;
}
/* line 446, ../sass/screen.scss */
.d3-tip li span:first-child {
  font-weight: 400;
  padding-right: 7.5px;
  text-transform: uppercase;
}
/* line 451, ../sass/screen.scss */
.d3-tip li span:last-child {
  font-weight: 300;
  text-transform: initial;
}
/* line 457, ../sass/screen.scss */
.d3-tip:after {
  box-sizing: border-box;
  color: #f79cc1;
  content: "\25BC";
  display: inline;
  font-size: 0.85rem;
  left: 0;
  line-height: 1;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 100%;
  width: 100%;
}

/* line 473, ../sass/screen.scss */
.lists .tabs {
  background-color: #D7D7D7;
}
/* line 475, ../sass/screen.scss */
.lists .tabs div {
  cursor: pointer;
  display: inline-block;
  min-width: 15%;
  padding: 10px 20px;
}
/* line 480, ../sass/screen.scss */
.lists .tabs div[class*="male"] {
  color: #00468c;
}
/* line 483, ../sass/screen.scss */
.lists .tabs div[class*="female"] {
  color: #df5e9f;
}
/* line 486, ../sass/screen.scss */
.lists .tabs div.active {
  background-color: #e8e8e8;
}
/* line 489, ../sass/screen.scss */
.lists .tabs div:hover {
  background-color: #C7C7C7;
}
/* line 495, ../sass/screen.scss */
.lists[class*="male"] .uls {
  background-color: rgba(132, 219, 239, 0.5);
}
/* line 499, ../sass/screen.scss */
.lists[class*="male"] .lines line {
  stroke: #84dbef;
}
/* line 502, ../sass/screen.scss */
.lists[class*="male"] .lines circle {
  fill: #00468c;
}
/* line 507, ../sass/screen.scss */
.lists[class*="male"] .tg h6 {
  color: #84dbef;
}
/* line 512, ../sass/screen.scss */
.lists[class*="male"] .clustered circle {
  fill: #84dbef;
  stroke: #00468c;
}
/* line 519, ../sass/screen.scss */
.lists[class*="female"] .uls {
  background-color: rgba(247, 156, 193, 0.5);
}
/* line 523, ../sass/screen.scss */
.lists[class*="female"] .lines line {
  stroke: #f79cc1;
}
/* line 526, ../sass/screen.scss */
.lists[class*="female"] .lines circle {
  fill: #df5e9f;
}
/* line 531, ../sass/screen.scss */
.lists[class*="female"] .tg h6 {
  color: #f79cc1;
}
/* line 536, ../sass/screen.scss */
.lists[class*="female"] .clustered circle {
  fill: #f79cc1;
  stroke: #df5e9f;
}
/* line 542, ../sass/screen.scss */
.lists .uls {
  background-color: #e8e8e8;
  overflow: hidden;
  position: relative;
}
/* line 543, ../sass/screen.scss */
.lists .uls:before {
  background-color: #00468c;
  content: '';
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
  z-index: 10000;
}
/* line 554, ../sass/screen.scss */
.lists .uls:after {
  background-color: #df5e9f;
  content: '';
  display: block;
  height: 3px;
  right: 0;
  position: absolute;
  top: 0;
  width: 50%;
  z-index: 10000;
}
/* line 568, ../sass/screen.scss */
.lists .uls ul {
  display: inline-block;
  left: 0;
  min-width: 6900px;
  opacity: 0;
  padding: 10px 5%;
  position: absolute;
  top: 0;
  width: 500%;
  -moz-transition: margin-left 0.5s cubic-bezier(0.18, 0.04, 0.32, 1.1);
  -o-transition: margin-left 0.5s cubic-bezier(0.18, 0.04, 0.32, 1.1);
  -webkit-transition: margin-left 0.5s cubic-bezier(0.18, 0.04, 0.32, 1.1);
  transition: margin-left 0.5s cubic-bezier(0.18, 0.04, 0.32, 1.1);
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}
/* line 579, ../sass/screen.scss */
.lists .uls ul[class*="male"] {
  background-color: rgba(132, 219, 239, 0.5);
}
/* line 581, ../sass/screen.scss */
.lists .uls ul[class*="male"] .num {
  border-bottom: 1px solid #00468c;
}
/* line 585, ../sass/screen.scss */
.lists .uls ul[class*="female"] {
  background-color: rgba(247, 156, 193, 0.5);
}
/* line 587, ../sass/screen.scss */
.lists .uls ul[class*="female"].num {
  border-bottom: 1px solid #df5e9f;
}
/* line 591, ../sass/screen.scss */
.lists .uls ul:first-child {
  position: relative;
}
/* line 594, ../sass/screen.scss */
.lists .uls ul.active {
  opacity: 1;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  z-index: 10000;
}
/* line 598, ../sass/screen.scss */
.lists .uls ul.active li {
  pointer-events: initial;
}
/* line 602, ../sass/screen.scss */
.lists .uls ul li {
  display: inline-block;
  min-width: 135px;
  padding: 5px 7.5px;
  pointer-events: none;
  width: 2%;
}
/* line 608, ../sass/screen.scss */
.lists .uls ul li:hover, .lists .uls ul li.hover {
  background-color: rgba(255, 255, 255, 0.25);
}
/* line 612, ../sass/screen.scss */
.lists .uls ul li div span {
  text-transform: uppercase;
}
/* line 614, ../sass/screen.scss */
.lists .uls ul li div span.num {
  display: inline-block;
  font-size: 0.45rem;
  font-weight: 700;
  margin-right: 5px;
  padding-bottom: 2.5px;
  vertical-align: bottom;
}
/* line 622, ../sass/screen.scss */
.lists .uls ul li div span.place {
  display: inline-block;
  font-size: 0.65rem;
  font-weight: 300;
  vertical-align: bottom;
}
/* line 628, ../sass/screen.scss */
.lists .uls ul li div span.prop {
  display: block;
  font-size: 0.75rem;
  padding: 10px 0 15px;
}
/* line 638, ../sass/screen.scss */
.lists .lines {
  position: relative;
}
/* line 640, ../sass/screen.scss */
.lists .lines line {
  stroke-width: 1px;
  -moz-transition: stroke 0.5s 1.5s;
  -o-transition: stroke 0.5s 1.5s;
  -webkit-transition: stroke 0.5s;
  -webkit-transition-delay: 1.5s;
  transition: stroke 0.5s 1.5s;
}
/* line 644, ../sass/screen.scss */
.lists .lines circle {
  -moz-transition: fill 0.5s 1.5s;
  -o-transition: fill 0.5s 1.5s;
  -webkit-transition: fill 0.5s;
  -webkit-transition-delay: 1.5s;
  transition: fill 0.5s 1.5s;
}
/* line 647, ../sass/screen.scss */
.lists .lines svg {
  background-color: #D7D7D7;
}
/* line 650, ../sass/screen.scss */
.lists .lines .tg {
  background-color: rgba(215, 215, 215, 0.25);
  padding: 10px 0;
  position: relative;
  width: 100%;
}
/* line 655, ../sass/screen.scss */
.lists .lines .tg:before {
  background-color: #00468c;
  bottom: 0;
  content: '';
  display: block;
  height: 100px;
  left: 0;
  position: absolute;
  width: 50%;
  z-index: -1;
}
/* line 666, ../sass/screen.scss */
.lists .lines .tg:after {
  background-color: #df5e9f;
  bottom: 0;
  content: '';
  display: block;
  height: 100px;
  right: 0;
  position: absolute;
  width: 50%;
  z-index: -1;
}
/* line 677, ../sass/screen.scss */
.lists .lines .tg h4, .lists .lines .tg h6 {
  color: #fff !important;
  display: inline-block;
  vertical-align: middle;
  width: 140px;
}
/* line 683, ../sass/screen.scss */
.lists .lines .tg h4 {
  text-transform: uppercase;
}
/* line 685, ../sass/screen.scss */
.lists .lines .tg h4 span {
  display: block;
}
/* line 687, ../sass/screen.scss */
.lists .lines .tg h4 span:first-child {
  font-size: 0.85rem;
  letter-spacing: 15px;
  padding-left: 15px;
}
/* line 692, ../sass/screen.scss */
.lists .lines .tg h4 span:last-child {
  font-size: 3rem;
}
/* line 697, ../sass/screen.scss */
.lists .lines .tg h6 {
  font-size: 0.75rem;
  left: 5%;
  letter-spacing: 2px;
  line-height: 1.1;
  margin: 0 auto;
  text-transform: uppercase;
  -moz-transition: color 0.5s 1.5s;
  -o-transition: color 0.5s 1.5s;
  -webkit-transition: color 0.5s;
  -webkit-transition-delay: 1.5s;
  transition: color 0.5s 1.5s;
}
