nav:after,nav:before{top:0;width:50%;z-index:10000;height:100vh;position:absolute}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,nav:after,nav:before,section,summary{display:block}
nav:after,nav:before{content:''}
aside,html{text-align:center}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}
aside .toggle,aside span,caption,nav ul li,nav ul li .circ,td,th{vertical-align:middle}
html{line-height:1;background-color:#fff;color:#00468c;font-family:Oswald,sans-serif;font-size:20px;text-rendering:optimizeLegibility!important;-webkit-font-smoothing:antialiased!important}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
caption,td,th{text-align:left;font-weight:400}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}
a img{border:none}
@-webkit-keyframes topbar{0%{height:100vh}
100%{height:25px}
}
@keyframes topbar{0%{height:100vh}
100%{height:25px}
}
@-webkit-keyframes pulse{0%,100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1);opacity:.65}
50%{-webkit-transform:scale3d(1.25,1.25,1.25);transform:scale3d(1.25,1.25,1.25);opacity:1}
}
@keyframes pulse{0%,100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1);opacity:.65}
50%{-webkit-transform:scale3d(1.25,1.25,1.25);transform:scale3d(1.25,1.25,1.25);opacity:1}
}
@-webkit-keyframes fadeOut{0%{opacity:1}
100%{opacity:0}
}
@keyframes fadeOut{0%{opacity:1}
100%{opacity:0}
}
@-webkit-keyframes slideInLeft{0%{-webkit-transform:translateX(-100%);transform:translateX(-100%);visibility:visible}
100%{-webkit-transform:translateX(0);transform:translateX(0)}
}
@keyframes slideInLeft{0%{-webkit-transform:translateX(-100%);transform:translateX(-100%);visibility:visible}
100%{-webkit-transform:translateX(0);transform:translateX(0)}
}
@-webkit-keyframes slideOutRight{0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}
99%{opacity:1}
100%{opacity:0;visibility:hidden;-webkit-transform:translateX(100%);transform:translateX(100%)}
}
@keyframes slideOutRight{0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}
99%{opacity:1}
100%{opacity:0;visibility:hidden;-webkit-transform:translateX(100%);transform:translateX(100%)}
}
html:before{color:#fff;content:'Loading...';display:inline-block;font-size:2rem;height:100vh;left:0;letter-spacing:4px;line-height:100vh;opacity:1;position:fixed;text-transform:uppercase;top:0;width:100%;z-index:100000;-webkit-animation-timing-function:linear;animation-timing-function:linear;-webkit-animation-delay:0;animation-delay:0;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-name:pulse;animation-name:pulse;-moz-transition:height 1s,line-height 1s,opacity 1s;-o-transition:height 1s,line-height 1s,opacity 1s;-webkit-transition:height 1s,line-height 1s,opacity 1s;transition:height 1s,line-height 1s,opacity 1s}
::selection,nav ul li.male{color:#00468c}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
::-moz-selection{color:#00468c;background:#df5e9f}
::selection{background:#df5e9f}
.loaded:before{height:0vh;line-height:0vh;opacity:0;overflow:hidden;animation-timing-function:linear;animation-delay:0;animation-duration:1s;animation-iteration-count:1;-webkit-animation-name:fadeOut;animation-name:fadeOut}
.loaded nav:after,.loaded nav:before,.loaded:before{-webkit-animation-duration:1s;-webkit-animation-iteration-count:1;-webkit-animation-timing-function:linear;-webkit-animation-delay:0}
.loaded nav:after,.loaded nav:before{height:25px;animation-timing-function:linear;animation-delay:0;animation-duration:1s;animation-iteration-count:1;-webkit-animation-name:topbar;animation-name:topbar}
nav{background-color:#e8e8e8;padding-top:25px;position:relative;text-transform:uppercase;z-index:1001}
nav.closed ul li{height:0;padding:0}
nav:before{background-color:#00468c;left:0}
nav:after{background-color:#df5e9f;right:0}
article .map,aside,aside .toggle,h1,h5{position:relative}
article .map,nav ul li,nav ul li .circ{display:inline-block}
nav ul li{cursor:pointer;font-size:.8rem;min-width:20%;padding:10px 15px 15px;-moz-transition:height .5s,padding .5s;-o-transition:height .5s,padding .5s;-webkit-transition:height .5s,padding .5s;transition:height .5s,padding .5s}
nav ul li.active{background-color:rgba(0,0,0,.1)}
nav ul li .circ{border-radius:100%;height:75px;margin-right:10px;width:75px}
@media all and (max-width:1024px){nav ul li{font-size:.5rem;min-width:48%}
nav ul li .circ{height:45px;width:45px}
}
nav ul li .circ line,nav ul li .circ path{fill:none;stroke-width:.75px}
nav ul li .circ svg{height:60px;margin:7.5px 0;width:70%}
@media all and (max-width:1024px){nav ul li .circ svg{margin:2.5px 0;height:40px}
}
nav ul li:hover .circ{-moz-transition:background-color .25s;-o-transition:background-color .25s;-webkit-transition:background-color .25s;transition:background-color .25s}
nav ul li:hover .circ line,nav ul li:hover .circ path{stroke-width:1.25px;-moz-transition:stroke .25s;-o-transition:stroke .25s;-webkit-transition:stroke .25s;transition:stroke .25s}
nav ul li:hover .circ circle,nav ul li:hover .circ rect{-moz-transition:fill .25s;-o-transition:fill .25s;-webkit-transition:fill .25s;transition:fill .25s}
nav ul li:hover .circ svg{height:65px;margin:5px 0;width:75%;-moz-transition:all .25s;-o-transition:all .25s;-webkit-transition:all .25s;transition:all .25s}
nav ul li.male:hover .circ{background-color:#00468c}
nav ul li.male:hover .circ line,nav ul li.male:hover .circ path{stroke:#84dbef}
nav ul li.male:hover .circ circle,nav ul li.male:hover .circ rect{fill:#84dbef}
nav ul li.male .circ{background-color:#84dbef}
nav ul li.male .circ line,nav ul li.male .circ path{stroke:#00468c}
nav ul li.male .circ circle,nav ul li.male .circ rect{fill:#00468c}
nav ul li.female{color:#df5e9f}
nav ul li.female:hover .circ{background-color:#df5e9f}
nav ul li.female:hover .circ line,nav ul li.female:hover .circ path{stroke:#f79cc1}
nav ul li.female:hover .circ circle,nav ul li.female:hover .circ rect{fill:#f79cc1}
nav ul li.female .circ{background-color:#f79cc1}
h1,h5{background-color:rgba(250,250,250,.5)}
nav ul li.female .circ line,nav ul li.female .circ path{stroke:#df5e9f}
nav ul li.female .circ circle,nav ul li.female .circ rect{fill:#df5e9f}
h1{font-size:1.5rem;font-weight:700;padding:35px 0 5px;text-transform:uppercase;z-index:10}
h5{border-bottom:3px solid rgba(250,250,250,.75);font-size:.9rem;font-weight:300;padding-bottom:40px;z-index:10}
article{padding-bottom:2rem}
article .map{margin-left:-102.4px;margin-top:-204.8px;width:1024px;z-index:0;-moz-transition:width .5s,margin-left .5s,margin-top .5s;-o-transition:width .5s,margin-left .5s,margin-top .5s;-webkit-transition:width .5s,margin-left .5s,margin-top .5s;transition:width .5s,margin-left .5s,margin-top .5s}
@media all and (min-width:1024px){article .map.small{margin-left:-51.2px;margin-top:-102.4px;width:512px;-moz-transition:width .5s,margin-left .5s,margin-top .5s;-o-transition:width .5s,margin-left .5s,margin-top .5s;-webkit-transition:width .5s,margin-left .5s,margin-top .5s;transition:width .5s,margin-left .5s,margin-top .5s}
}
@media all and (max-width:1024px){nav ul li:hover .circ svg{height:30px}
article .map{margin-top:-20%;margin-left:-10%;width:100%}
}
aside{background-color:#D7D7D7;display:block;padding:10px;width:100%;z-index:1000}
aside .toggle,aside span,aside>div{display:inline-block}
aside span{font-size:.85rem;letter-spacing:1px;text-transform:uppercase}
aside>div{padding:0 15px}
aside .toggle{cursor:pointer;outline:0;padding:2px;width:60px;height:30px;border-radius:60px;-o-transition:background .4s;transition:background .4s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
aside .toggle,aside .toggle:before{-webkit-transition:background .4s;-moz-transition:background .4s;-ms-border-radius:60px;-o-border-radius:60px;-webkit-border-radius:60px;-moz-border-radius:60px}
aside .toggle:before{top:2px;left:2px;bottom:2px;right:2px;background-color:#fff;border-radius:60px;-o-transition:background .4s;transition:background .4s}
aside .toggle:after,aside .toggle:before{display:block;position:absolute;content:""}
aside .toggle:after{top:4px;left:4px;bottom:4px;width:23px;background-color:#ddd;-webkit-border-radius:52px;-moz-border-radius:52px;-ms-border-radius:52px;-o-border-radius:52px;border-radius:52px;-webkit-transition:margin .4s,background .4s;-moz-transition:margin .4s,background .4s;-o-transition:margin .4s,background .4s;transition:margin .4s,background .4s}
aside .toggle.male{background-color:#84dbef}
aside .toggle.male:after{background-color:#00468c}
aside .toggle.female{background-color:#f79cc1}
aside .toggle.female:after{background-color:#df5e9f;margin-left:30px}
.land{fill:#dbdfe1}
.border{fill:none;stroke:#fff;stroke-linejoin:round;stroke-linecap:round}
.bubble circle{cursor:pointer;fill:#00468c;fill-opacity:.5;stroke:#fff;stroke-width:.5px}
.bubble circle.hover{fill-opacity:.85;stroke-width:5px;transition:fill-opacity .25s,stroke-width .25s}
.bubble circle.hover,.bubble circle:hover{-webkit-transition:fill-opacity .25s,stroke-width .25s;-o-transition:fill-opacity .25s,stroke-width .25s;-moz-transition:fill-opacity .25s,stroke-width .25s}
.bubble circle:hover{fill-opacity:.85;stroke-width:2px;transition:fill-opacity .25s,stroke-width .25s}
.bubble circle.female{fill:#df5e9f;-webkit-transition:fill .25s;transition:fill .25s}
.bubble circle.female,.bubble circle.male{-moz-transition:fill .25s;-o-transition:fill .25s}
.bubble circle.female.nact{fill:#f79cc1;stroke:#df5e9f;stroke-width:2px}
.bubble circle.male{fill:#00468c;-webkit-transition:fill .25s;transition:fill .25s}
.bubble circle.male.nact{fill:#84dbef;stroke:#00468c;stroke-width:2px}
.bubble circle.top50{stroke:#ff1;stroke-width:1px}
.legend circle{fill:rgba(255,255,255,.2);stroke:#ccc}
.legend text{fill:#444;font:12px sans-serif;text-anchor:middle}
.d3-tip{background:rgba(232,232,232,.9);border:2px solid #f79cc1;border-radius:2px;font-weight:700;line-height:1;margin-top:-12.5px;max-width:250px;padding:12px;text-align:left;z-index:100000}
.d3-tip h4{font-weight:700;padding-bottom:7.5px;text-align:center;text-transform:uppercase}
.d3-tip li{display:block;font-size:.75rem;padding:3.5px 0}
.d3-tip li.cm,.d3-tip li.sm{color:#00468c}
.d3-tip li.cf,.d3-tip li.sf{color:#df5e9f}
.d3-tip li span{display:inline-block}
.d3-tip li span:first-child{font-weight:400;padding-right:7.5px;text-transform:uppercase}
.d3-tip li span:last-child{font-weight:300;text-transform:initial}
.lists .lines .tg h4,.lists .lines .tg h6,.lists .uls ul li div span{text-transform:uppercase}
.d3-tip:after{box-sizing:border-box;color:#f79cc1;content:"\25BC";display:inline;font-size:.85rem;left:0;line-height:1;margin:0;position:absolute;text-align:center;top:100%;width:100%}
.lists .uls:after,.lists .uls:before{position:absolute;display:block;top:0}
.lists .lines .tg:after,.lists .lines .tg:before,.lists .uls:after,.lists .uls:before{content:''}
.lists .tabs{background-color:#D7D7D7}
.lists .tabs div{cursor:pointer;display:inline-block;min-width:15%;padding:10px 20px}
.lists .tabs div[class*=male]{color:#00468c}
.lists .tabs div[class*=female]{color:#df5e9f}
.lists .tabs div.active{background-color:#e8e8e8}
.lists .tabs div:hover{background-color:#C7C7C7}
.lists[class*=male] .uls{background-color:rgba(132,219,239,.5)}
.lists[class*=male] .lines line{stroke:#84dbef}
.lists[class*=male] .lines circle{fill:#00468c}
.lists[class*=male] .tg h6{color:#84dbef}
.lists[class*=female] .uls{background-color:rgba(247,156,193,.5)}
.lists[class*=female] .lines line{stroke:#f79cc1}
.lists[class*=female] .lines circle{fill:#df5e9f}
.lists[class*=female] .tg h6{color:#f79cc1}
.lists .uls{background-color:#e8e8e8;overflow:hidden;position:relative}
.lists .uls:before{background-color:#00468c;height:3px;left:0;width:50%;z-index:10000}
.lists .uls:after{background-color:#df5e9f;height:3px;right:0;width:50%;z-index:10000}
.lists .uls ul{display:inline-block;left:0;min-width:6900px;opacity:0;padding:10px 5%;position:absolute;top:0;width:500%;-moz-transition:margin-left .5s cubic-bezier(.18,.04,.32,1.1);-o-transition:margin-left .5s cubic-bezier(.18,.04,.32,1.1);-webkit-transition:margin-left .5s cubic-bezier(.18,.04,.32,1.1);transition:margin-left .5s cubic-bezier(.18,.04,.32,1.1);animation-timing-function:linear;animation-delay:0;animation-duration:.5s;-webkit-animation-iteration-count:1;animation-iteration-count:1;-webkit-animation-name:slideOutRight;animation-name:slideOutRight}
.lists .uls ul,.lists .uls ul.active{-webkit-animation-delay:0;-webkit-animation-duration:.5s;-webkit-animation-timing-function:linear}
.lists .lines,.lists .lines .tg,.lists .uls ul:first-child{position:relative}
.lists .uls ul[class*=male]{background-color:rgba(132,219,239,.5)}
.lists .uls ul[class*=male] .num{border-bottom:1px solid #00468c}
.lists .uls ul[class*=female]{background-color:rgba(247,156,193,.5)}
.lists .uls ul[class*=female].num{border-bottom:1px solid #df5e9f}
.lists .uls ul.active{opacity:1;animation-timing-function:linear;animation-delay:0;animation-duration:.5s;-webkit-animation-iteration-count:1;animation-iteration-count:1;-webkit-animation-name:slideInLeft;animation-name:slideInLeft;z-index:10000}
.lists .lines .tg:after,.lists .lines .tg:before{position:absolute;width:50%;display:block;z-index:-1}
.lists .uls ul.active li{pointer-events:initial}
.lists .uls ul li{display:inline-block;min-width:135px;padding:5px 7.5px;pointer-events:none;width:2%}
.lists .uls ul li.hover,.lists .uls ul li:hover{background-color:rgba(255,255,255,.25)}
.lists .uls ul li div span.num{display:inline-block;font-size:.45rem;font-weight:700;margin-right:5px;padding-bottom:2.5px;vertical-align:bottom}
.lists .uls ul li div span.place{display:inline-block;font-size:.65rem;font-weight:300;vertical-align:bottom}
.lists .uls ul li div span.prop{display:block;font-size:.75rem;padding:10px 0 15px}
.lists .lines line{stroke-width:1px;-moz-transition:stroke .5s 1.5s;-o-transition:stroke .5s 1.5s;-webkit-transition:stroke .5s;-webkit-transition-delay:1.5s;transition:stroke .5s 1.5s}
.lists .lines circle{-moz-transition:fill .5s 1.5s;-o-transition:fill .5s 1.5s;-webkit-transition:fill .5s;-webkit-transition-delay:1.5s;transition:fill .5s 1.5s}
.lists .lines svg{background-color:#D7D7D7}
.lists .lines .tg{background-color:rgba(215,215,215,.25);padding:10px 0;width:100%}
.lists .lines .tg:before{background-color:#00468c;bottom:0;height:100px;left:0}
.lists .lines .tg:after{background-color:#df5e9f;bottom:0;height:100px;right:0}
.lists .lines .tg h4,.lists .lines .tg h6{color:#fff!important;display:inline-block;vertical-align:middle;width:140px}
.lists .lines .tg h4 span{display:block}
.lists .lines .tg h4 span:first-child{font-size:.85rem;letter-spacing:15px;padding-left:15px}
.lists .lines .tg h4 span:last-child{font-size:3rem}
.lists .lines .tg h6{font-size:.75rem;left:5%;letter-spacing:2px;line-height:1.1;margin:0 auto;-moz-transition:color .5s 1.5s;-o-transition:color .5s 1.5s;-webkit-transition:color .5s;-webkit-transition-delay:1.5s;transition:color .5s 1.5s}