@mixin textset($color,$fontfam,$fontsize,$ltrspc,$lineht){
	color: $color;
	font-family: $fontfam;
	font-size: $fontsize;
	letter-spacing: $ltrspc;
	line-height: $lineht;
}
@mixin animate($name, $dur, $delay, $iter, $timing){
	-webkit-animation-timing-function: $timing;
		animation-timing-function: $timing;	
	-webkit-animation-delay: $delay;
		animation-delay: $delay;
	-webkit-animation-duration: $dur;
		animation-duration: $dur;
	-webkit-animation-iteration-count: $iter;
		animation-iteration-count: $iter;
	-webkit-animation-name: $name;
		animation-name: $name;
}
@-webkit-keyframes topbar {
  0%{
    height: 100vh;
  }

  100%{
    height: 25px
  }
}
@keyframes topbar {
  0%{
    height: 100vh;
  }

  100%{
    height: 25px
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 0.65;
  }

  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
            transform: scale3d(1.25, 1.25, 1.25);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 0.65;
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 0.65;
  }

  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
            transform: scale3d(1.25, 1.25, 1.25);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 0.65;
  }
}
@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}