/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "_var";
@import "_mixins";

html{
	background-color: #fff;
	color: $blue-d;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	text-align: center;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;	
	&:before{
		color: #fff;
		content: 'Loading...';
		display: inline-block;
		font-size: 2rem;
		height: 100vh;
		left: 0;
		letter-spacing: 4px;
		line-height: 100vh;
		opacity: 1;
		position: fixed;
		text-transform: uppercase;
		top: 0;
		width: 100%;
		z-index: 100000;
		@include animate(pulse, 1s, 0, infinite, linear);
		@include transition(height 1s, line-height 1s, opacity 1s);
	}
}
*{
	@include box-sizing( border-box );
}
::-moz-selection { /* Code for Firefox */
    color: $blue-d;
    background: $pink-d;
}
::selection {
    color: $blue-d; 
    background: $pink-d;
}
.loaded{
	&:before{
		height: 0vh;
		line-height: 0vh;
		opacity: 0;
		overflow: hidden;
		@include animate(fadeOut, 1s, 0, 1, linear);
	}
	nav{
		&:before{
			height: 25px;
			@include animate(topbar, 1s, 0, 1, linear);
		}
		&:after{
			height: 25px;
			@include animate(topbar, 1s, 0, 1, linear);
		}
	}
}
nav{
	background-color: $grey;
	padding-top: 25px;
	position: relative;
	text-transform: uppercase;
	z-index: 1001;
	&.closed{
		ul{
			li{
				height: 0px;
				padding: 0px;
			}
		}
	}
	&:before{
		background-color: $blue-d;
		content: '';
		display: block;
		height: 100vh;
		left: 0;
		position: absolute;
		top: 0;
		width: 50%;
		z-index: 10000;
	}
	&:after{
		background-color: $pink-d;
		content: '';
		display: block;
		height: 100vh;
		right: 0;
		position: absolute;
		top: 0;
		width: 50%;
		z-index: 10000;
	}
	ul{
		li{
			cursor: pointer;
			display: inline-block;
			font-size: 0.8rem;
			min-width: 20%;
			padding: 10px 15px 15px;
			@include transition(height 0.5s, padding 0.5s);
			vertical-align: middle;
			@media all and (max-width : $desktop){
				font-size: 0.5rem;
				min-width: 48%;
			}
			&.active{
				background-color: rgba(0,0,0,0.1);
			}
			.circ{
				border-radius: 100%;
				display: inline-block;
				height: 75px;
				margin-right: 10px;
				vertical-align: middle;
				width: 75px;
				@media all and (max-width : $desktop){
					height: 45px;
					width: 45px;
				}
				path, line{
					fill: none;
					stroke-width: 0.75px;
				}
				svg{
					height: 60px;
					margin: 7.5px 0;
					width: 70%;
					@media all and (max-width : $desktop){
						margin: 2.5px 0;
						height: 40px;
					}
				}
			}
			&:hover{
				.circ{
					@include transition(background-color 0.25s);
					path, line{
						stroke-width: 1.25px;
						@include transition(stroke 0.25s);
					}					
					circle, rect{
						@include transition(fill 0.25s);
					}
					svg{
						height: 65px;
						margin: 5px 0;
						width: 75%;
						@include transition(all 0.25s);
						@media all and (max-width : $desktop){
							height: 30px;
						}
					}

				}
			}
			&.male{
				color: $blue-d;
				&:hover{
					.circ{
						background-color: $blue-d;
						path, line{
							stroke: $blue-l;
						}
						circle, rect{
							fill: $blue-l;
						}
					}	
				}
				.circ{
					background-color: $blue-l;
					path, line{
						stroke: $blue-d;
					}
					circle, rect{
						fill: $blue-d;
					}
				}
			}
			&.female{
				color: $pink-d;
				&:hover{
					.circ{
						background-color: $pink-d;
						path, line{
							stroke: $pink-l;
						}
						circle, rect{
							fill: $pink-l;
						}
					}	
				}
				.circ{
					background-color: $pink-l;
					path, line{
						stroke: $pink-d;
					}
					circle, rect{
						fill: $pink-d;
					}
				}
			}
		}
	}
}
h1{
    background-color: rgba(250,250,250,0.5);
	font-size: 1.5rem;
	font-weight: 700;
	padding: 35px 0 5px;
	position: relative;
	text-transform: uppercase;
	z-index: 10;
}
h5{
    background-color: rgba(250,250,250,0.5);
    border-bottom: 3px solid rgba(250,250,250,0.75);
	font-size: 0.9rem;
	font-weight: 300;
	padding-bottom: 40px;
	position: relative;
	z-index: 10;
}
article{
	padding-bottom: 2rem;
	.map{
		display: inline-block;
		margin-left: -$desktop/10;
	    margin-top: -$desktop/5;
	    position: relative;
	    width: $desktop;
		z-index: 0;
		@include transition(width 0.5s, margin-left 0.5s, margin-top 0.5s);
		&.small{
			@media all and (min-width : $desktop){
				margin-left: -$desktop/20;
		    	margin-top: -$desktop/10;
			    width: $desktop/2;
			    @include transition(width 0.5s, margin-left 0.5s, margin-top 0.5s);
			}
		}
		// margin-top: -18%;
	 	// margin-left: -9%;
	 	// width: 80%;
		@media all and (max-width : $desktop){
		    margin-top: -20%;
		    margin-left: -10%;
		    width: 100%;
		}
	}
}
aside{
	background-color: #D7D7D7;
    display: block;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1000;
	span{
		display: inline-block;
		font-size: 0.85rem;
		letter-spacing: 1px;
		text-transform: uppercase;
		vertical-align: middle;
	}
	> div{
		display: inline-block;
		padding: 0 15px;
	}
	.toggle {
	    display: inline-block;
	    position: relative;
	    cursor: pointer;
	    outline: none;
	    padding: 2px;
	    width: 60px;
	    height: 30px;
	    -webkit-border-radius: 60px;
	    -moz-border-radius: 60px;
	    -ms-border-radius: 60px;
	    -o-border-radius: 60px;
	    border-radius: 60px;
	    -webkit-transition: background 0.4s;
	    -moz-transition: background 0.4s;
	    -o-transition: background 0.4s;
	    transition: background 0.4s;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    vertical-align: middle;
	    &:before {
		    top: 2px;
		    left: 2px;
		    bottom: 2px;
		    right: 2px;
		    background-color: #fff;
		    -webkit-border-radius: 60px;
		    -moz-border-radius: 60px;
		    -ms-border-radius: 60px;
		    -o-border-radius: 60px;
		    border-radius: 60px;
		    -webkit-transition: background 0.4s;
		    -moz-transition: background 0.4s;
		    -o-transition: background 0.4s;
		    transition: background 0.4s;
		}
		&:after, &:before {
		    display: block;
		    position: absolute;
		    content: "";
		}
		&:after {
		    top: 4px;
		    left: 4px;
		    bottom: 4px;
		    width: 23px;
		    background-color: #dddddd;
		    -webkit-border-radius: 52px;
		    -moz-border-radius: 52px;
		    -ms-border-radius: 52px;
		    -o-border-radius: 52px;
		    border-radius: 52px;
		    -webkit-transition: margin 0.4s, background 0.4s;
		    -moz-transition: margin 0.4s, background 0.4s;
		    -o-transition: margin 0.4s, background 0.4s;
		    transition: margin 0.4s, background 0.4s;
		}
		&.male{
			background-color: $blue-l;
			&:after{
				background-color: $blue-d;
			}
		}
		&.female{
			background-color: $pink-l;
			&:after{
				background-color: $pink-d;
		    	margin-left: 30px;
			}
		}
	}
}
.land {
  fill: $map;
}
.border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.bubble {
	circle{
		cursor: pointer;
		fill: $blue-d;
		fill-opacity: .5;
		stroke: #fff;
		stroke-width: .5px;
		&.hover{
			fill-opacity: 0.85;
			stroke-width: 5px;
			@include transition(fill-opacity 0.25s, stroke-width 0.25s);			
		}
		&:hover{
			fill-opacity: 0.85;
			stroke-width: 2px;
			@include transition(fill-opacity 0.25s, stroke-width 0.25s);
		}
		&.female{
			fill: $pink-d;
			@include transition( fill 0.25s );
			&.nact{
				fill: $pink-l;
				stroke: $pink-d;
				stroke-width: 2px;
			}
		}
		&.male{
			fill: $blue-d;
			@include transition( fill 0.25s );
			&.nact{
				fill: $blue-l;
				stroke: $blue-d;
				stroke-width: 2px;
			}
		}
		&.top50{
			stroke: #ff1;
			stroke-width: 1px;
		}
	}
}
.legend{
	circle {
	  fill: rgba(#fff,0.2);
	  stroke: #ccc;
	}
	text {
	  fill: #444;
	  font: 12px sans-serif;
	  text-anchor: middle;
	}
}
.d3-tip {
    background: rgba($grey,.9);
	border: 2px solid $pink-l;
    border-radius: 2px;
    font-weight: 700;
    line-height: 1;
    margin-top: -12.5px;
    max-width: 250px;
    padding: 12px;
    text-align: left;
    z-index: 100000;
    h4{
    	font-weight: 700;
    	padding-bottom: 7.5px;
    	text-align: center;
    	text-transform: uppercase;
    }
    li{
    	display: block;
    	font-size: 0.75rem;
    	padding: 3.5px 0;
    	&.sm, &.cm{
    		color: $blue-d;
    	}
    	&.sf, &.cf{
    		color: $pink-d;
    	}
    	span{
    		display: inline-block;
    		&:first-child{
    			font-weight: 400;
    			padding-right: 7.5px;
    			text-transform: uppercase;
    		}
    		&:last-child{
    			font-weight: 300;
    			text-transform: initial;
    		}
    	}
    }
	&:after{
		box-sizing:border-box;
		color:$pink-l;
		content:"\25BC";
		display:inline;
		font-size:0.85rem;
		left:0;
		line-height:1;
		margin:0;
		position:absolute;
		text-align:center;
		top:100%;
		width:100%;
	}
}
.lists{
	.tabs{
		background-color: #D7D7D7;
		div{
			cursor: pointer;
			display: inline-block;
			min-width: 15%;
			padding: 10px 20px;
			&[class*="male"] {
			    color: $blue-d;
			}
			&[class*="female"] {
			    color: $pink-d;
			}
			&.active{
				background-color: #e8e8e8;
			}
			&:hover{
				background-color: #C7C7C7;
			}
		}
	}
	&[class*="male"] {
		.uls{
		    background-color: rgba($blue-l, 0.5);
		}
	    .lines{
	    	line{
	    		stroke: $blue-l;
	    	}
	    	circle{
	    		fill: $blue-d;
	    	}
	    }	
	    .tg{
	    	h6{
	    		color: $blue-l;
	    	}
	    }	
		.clustered{
			circle{
				fill: $blue-l;
				stroke: $blue-d;
			}
		}
	}
	&[class*="female"] {
		.uls{
		    background-color: rgba($pink-l, 0.5);			
		}
		.lines{
	    	line{
	    		stroke: $pink-l;
	    	}
	    	circle{
	    		fill: $pink-d;
	    	}
	    }
	    .tg{
	    	h6{
	    		color: $pink-l;
	    	}
	    }		
		.clustered{
			circle{
				fill: $pink-l;
				stroke: $pink-d;
			}
		}
	}	
	.uls{
		&:before{
			background-color: $blue-d;
			content: '';
			display: block;
			height: 3px;
			left: 0;
			position: absolute;
			top: 0;
			width: 50%;
			z-index: 10000;
		}
		&:after{
			background-color: $pink-d;
			content: '';
			display: block;
			height: 3px;
			right: 0;
			position: absolute;
			top: 0;
			width: 50%;
			z-index: 10000;
		}
		background-color: #e8e8e8;
		overflow: hidden;
		position: relative;
		ul{
			display: inline-block;
			left: 0;
			min-width: 6900px;
			opacity: 0;
			padding: 10px 5%;
			position: absolute;
			top: 0;
			width: 500%;
			@include transition(margin-left 0.5s cubic-bezier(0.18, 0.04, 0.32, 1.1));
			@include animate(slideOutRight, 0.5s, 0, 1, linear);
			&[class*="male"] {
			    background-color: rgba($blue-l, 0.5);
				.num{
					border-bottom: 1px solid $blue-d;
				}
			}
			&[class*="female"] {
			    background-color: rgba($pink-l, 0.5);
				&.num{
					border-bottom: 1px solid $pink-d;
				}
			}
			&:first-child{
				position: relative;
			}
			&.active{
				opacity: 1;
				@include animate(slideInLeft, 0.5s, 0, 1, linear);
				z-index: 10000;
				li{
					pointer-events: initial;
				}
			}
			li{
				display: inline-block;
				min-width: 135px;
				padding: 5px 7.5px;
				pointer-events: none;
				width: 2%;
				&:hover, &.hover{
					background-color: rgba(#fff, 0.25);
				}
				div{
					span{
						text-transform: uppercase;
						&.num{
							display: inline-block;
							font-size: 0.45rem;
							font-weight: 700;
							margin-right:5px;
							padding-bottom: 2.5px;
							vertical-align: bottom;
						}
						&.place{
							display: inline-block;
							font-size: 0.65rem;
							font-weight: 300;
							vertical-align: bottom;
						}
						&.prop{
							display: block;
							font-size: 0.75rem;
							padding: 10px 0 15px;
						}					
					}
				}
			}
		}
	}
	.lines{
		position: relative;
		line{
			stroke-width: 1px;
			@include transition(stroke 0.5s 1.5s);
		}
		circle{
			@include transition(fill 0.5s 1.5s);
		}
		svg{
			background-color: #D7D7D7;
		}
		.tg{
			background-color: rgba(#d7d7d7, 0.25);
		    padding: 10px 0;
		    position: relative;
			width: 100%;
			&:before{
				background-color: $blue-d;
				bottom: 0;
				content: '';
				display: block;
				height: 100px;
				left: 0;
				position: absolute;
				width: 50%;
				z-index: -1;
			}
			&:after{
				background-color: $pink-d;
				bottom: 0;
				content: '';
				display: block;
				height: 100px;
				right: 0;
				position: absolute;
				width: 50%;
				z-index: -1;
			}
			h4, h6{
				color: #fff!important;
				display: inline-block;
				vertical-align: middle;
				width: 140px;
			}
			h4{
				text-transform: uppercase;
				span{
					display: block;
					&:first-child{
						font-size: 0.85rem;
					    letter-spacing: 15px;
					    padding-left: 15px;
					}
					&:last-child{
						font-size: 3rem;
					}
				}
			}
			h6{
				font-size: 0.75rem;
				left: 5%;
				letter-spacing: 2px;
				line-height: 1.1;
				margin: 0 auto;
				text-transform: uppercase;
				@include transition(color 0.5s 1.5s);
			}
		}
	}
}